/*
	320px — 480px: Mobile devices
	481px — 768px: iPads, Tablets
	769px — 1024px: Small screens, laptops
	1025px — 1200px: Desktops, large screens
	1201px and more —  Extra large screens, TV
*/

:root {
	--black: #222;
	--blue: #04034e;
	--lightBlue: #60a1ef;
	--white: #fff;
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
	.h1High {
		font-size: 20px;
		padding-bottom: 20px;
	}
	.nav-link {
		font-size: 14px;
	}

	.homeCover {
		margin-top: 5%;
	}

	.divAboutUs {
		padding: 40px 0px;
	}

	.divAboutUs p {
		width: 250px;
		font-size: 16px;
		line-height: 30px;
	}

	/* BEGIN::Clients */
	.client-logo {
		padding: 20px 50px;
		width: 150px;
	}
	/* END::Clients */

	.container-contact {
		flex-direction: column;
	}

	.a-contact {
		font-size: 12px;
	}

	.icon-span {
		display: none;
	}

	.a-socialmedia {
		font-size: 30px;
	}

	.pHome {
		font-size: 40px;
	}

	.container-contact {
		flex-direction: column;
	}
}
