/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	.h1High {
		font-size: 20px;
		padding-bottom: 20px;
	}
	.nav-link {
		display: none;
	}

	.headerLogo {
		padding: 15px 10px;
	}

	.section-home {
		width: 100%;
	}

	.container-home {
		display: flex;
		flex-direction: row;
		padding: 20px 10%;
		min-height: 100vh;
		align-items: center;
		align-content: center;
	}

	.homeCover {
		display: flex;
		flex-direction: column;
	}

	.pHome {
		font-size: 30px;
		font-weight: 400;
		line-height: 40px;
	}

	/* About Us */
	#section-aboutUs {
		background-position: center;
	}

	.container-aboutUs {
		flex-direction: column;
		padding: 0;
	}
	.h1About {
		display: flex;
		padding: 30px 0px;
		text-align: center;
	}

	.divAboutUs  {
		padding: 40px 0px;
	}

	.divAboutUs p {
		font-size: 16px;
		line-height: 30px;
	}


	/* Clients */
	.container-clients {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
	}

	#section-clients { display: none;}

	.footer { display: none;}

	.containerMenu {
		display: none;
	}


	/* BEGIN::Services */
	.container-services {
		font-size: 20px;
		padding: 20px 10% 30px 10%;
		height: 100%;
	}

	.divServices {
		flex-direction: column;
	}

	.divService {
		padding: 30px;
		margin: 10px 0px;
	}
	/* END::Services */

	/* BEGIN::Clients */
	.client-logo {
		padding: 20px 50px;
	}
	/* END::Clients */

	.container-contact {
		display: flex;
		flex-direction: column;
	}
	.paddingContainer {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
	.divContactItem {
		width: 100%;
	}
	.form-group {
		width: 300px;
	}
	.form-control {
		width: 100%;
	}
	.buttonEnviar {
		width: 100%;
		font-size: 18px;
		padding: 15px 0;
	}
	.control-label { display: none;}
	.a-contact {
		font-size: 12px;
	}

	.icon-span {
		display: none;
	}

	.a-socialmedia {
		font-size: 30px;
	}
}
