/*
	320px — 480px: Mobile devices
	481px — 768px: iPads, Tablets
	769px — 1024px: Small screens, laptops
	1025px — 1200px: Desktops, large screens
	1201px and more —  Extra large screens, TV
*/

:root {
	--black: #222;
	--blue: #04034e;
	--lightBlue: #60a1ef;
	--white: #fff;
  }

.black {color: var(--black) !important;}
.white {color: var(--white); }
.blue { color: var(--blue); }
.lightBlue { color: var(--lightBlue); }

.bk-black {background-color: var(--black) !important;}
.bk-white {background-color: var(--white);}

* {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 95vh;
	margin: 0;
}

  h3 {
	font-size: 14px;
}



/* Genericas */
h1 {
	font-weight: 600;
	color: #fff;
}
.h1High {
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.h160 {
	font-size: 60px;
}

.h1Social {
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: 500;
}

.h1High {
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.h2Grey {
	color: var(--lightBlue);
	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
	padding-bottom: 10px;
}

.flex {
	display: flex;
	justify-content: center;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

a {
	color: #fff;
	text-decoration: none;
}

.grid {
	display: grid;
}
/* text */
.textCenter {
	text-align: center;
}
.textLeft {
	text-align: left;
}
.pSmall {
	font-size: 12px;
}
.pMed {
	font-size: 14px;
}

.pboldy {
	text-decoration: underline;
	font-weight: bold;
}

strong {
	font-weight: 700;
}

.logo {
	padding-right: 10px;
	width: 30px;
}

.logoGrey {
	padding-right: 10px;
	width: 30px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

.borderRadius {
	border: 3px solid #60a1ef;
	border-radius: 10px;
	width: 200px;
	margin: 20px 0;
}

.section-home {
	align-items: center;
	justify-content: center;
	background-size: 300% 300%;
	background-image: linear-gradient(
		  -45deg,
		  #60a1ef 0%,
		  #04034e 25%,
		  #60a1ef 51%,
		  #04034e 100%
	);
	animation: AnimateBG 20s ease infinite;
  }

  @keyframes AnimateBG {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
  }


#section-services {
	background-color: #222;
}

#section-aboutUs {
	background: url("../img/bg-01.jpeg");
	background-color: #222;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#section-clients {
	background-color: #efefef;
}

.headerClass {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headerLogo {
	display: flex;
	align-items: center;
	align-content: center;
	padding: 0 40px;
}

.containerMenu {
	align-items: center;
	padding: 0px 40px;
}

.menu-links {
	display: flex;
	align-items: center;
	height: 70px;
}
.nav-link {
	display: flex;
	padding: 0 15px;
	transition: 0.4s;
	font-size: 20px;
	height: 100%;
	align-items: center;
}
	.nav-link:hover {
		color: #bbb;
	}

	.nav-link.active {
		border-bottom: 2px solid  var(--lightBlue);;
	}

.a-contact-menu {
	background-color: #fff;
	color: #04034e;
}

.container-home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 5%;
	min-height: 100vh;
}

.homeCover {
	margin-top: 10%;
	margin-bottom: 20%;
	padding: 50px 0;
}

.pHome {
	text-align: left;
	font-size: 50px;
	width: 100%;
	font-weight: 800;
	line-height: 75px;
}

.container-aboutUs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.divAboutUs {
	display: flex;
	justify-content: center;
	padding: 30px 0px;
}

.h1About {
	font-size: 50px;
	padding: 0;
	padding-right: 40px;
	margin: 0;
}

.divAboutUs p {
	width: 700px;
	font-size: 26px;
	font-weight: 400;
	line-height: 50px;
	text-align: justify;
}

.section {
	min-height: 100vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.container-services {
	font-size: 24px;
	padding: 30px 10% 40px 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divServices {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexRowIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.divService {
	border: 2px #fff solid;
	background-color: #333;
	color: #222;
	cursor: pointer;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	padding: 50px;
	width: 200px;
	transition: 0.4s;
	margin: 0 10px;
	height: 250px;
	color: #fff;
}

.divService h1 {
	font-size: 22px;
	padding-top: 10px;
	height: 70px;
	text-align: center;
	transition: 0.4s;
	letter-spacing: 2px;
}

.divTextService {
	height: 220px;
}

.textService {
	font-size: 14px;
	text-align: left;
}

.textCenter {
	text-align: center;
}
	.divService:hover  {
		border: 2px #333 solid;
		background-color: #fff;
		color: #333;
	}
	.divService:hover h1, .textCenter:hover{
		color: #222;
	}

/* BEGIN::Clients */
.container-clients {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.divClients {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.client-logo {
	padding: 20px 50px;
	width: 200px;
}
/* END::Clients */

/* BEGIN::Contact */
.container-contact {
	background: url("../img/bg-city-01.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.paddingContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 10%;
}

.divContactItem {
	padding: 30px;
	width: 400px;
}

.a-contact {
	border-radius: 20px;
	transition: 0.4s;
}

a.a-contact:hover {
	color: #60a1ef;
	transition: 0.4s;
}

.container-socialmedia {
	padding-top: 60px;
	padding-bottom: 30px;
	width: 200px;
}

.socialmedia {
	width: 200px;
}

.a-socialmedia {
	font-size: 40px;
	cursor: pointer;
	padding: 0 5px;
}

.fa-socialmedia {
	color: #fff;
	transition: 0.5s;
}
.fa-socialmedia:hover {
	color: #60a1ef;
	transition: 0.4s;
}
.icon-span {
	padding-right: 16px;
}

.control-label {
	padding-top: 10px;
	width: 100px;
}

.form-control {
	border: 1px solid #fff;
	border-radius: 20px !important;
	padding: 12px 15px;
	width: 250px;
}

.buttonEnviar {
	padding: 10px 15px;
	width: 150px;
	border-radius: 20px !important;
	background-color: #04d643;
	color: #fff;
	border: 0px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.4s;
}
	.buttonEnviar:hover {
		background-color: #227c9c;
	}
/* END::Contact */

.footer {
	background-color: #222;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fff;
	padding: 30px 10%;
}

.pFooter {
	font-size: 12px;
	padding-top: 3px;
	color: #aaa;
}
.pFooterTitle {
	font-weight: 600;
	font-size: 14px;
}
/* Back to top button */
.back-to-top {
	position: fixed;
	display: none;
	background: #60a1ef;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: background 0.4s;
	z-index: 11;
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

/* padding */
.pt-7 {padding-top: 7px;}
.pt-10 {padding-top: 10px;}
.pb-7 {padding-bottom: 7px;}
.pb-10 {padding-bottom: 10px;}
.pb-20 {padding-bottom: 20px;}
.pr-10 {padding-right: 1px;}
.pl-7 {padding-left: 7px;}
.mt-2 {margin-top: 2px;}
.mt-15 {margin-top: 15px;}
.mr-10 {margin-right: 10px;}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container-contact {
		flex-direction: row;
		align-items: flex-start;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container-contact {
		flex-direction: row;
		align-items: flex-start;
	}
}
